<div class="jumbotron">
	<div class="container">
		<h1>Bienvenido a SPM!</h1>
		<p>SPM es un sistema de estudio entretenido para el aula y el hogar, haciendo uso directo de equipos moviles.</p>
	</div>
</div>